doctype
html
    head
        title="JADE test"
        script(src='/client.js')
    body
        #controls
            label#txt(style='display:block') Input text
            input#input(style='width:350px')
            input#submit(type='button', value='OK')